name: Lint

on:
  pull_request:
    branches:
      - '!v[0-9]+'

jobs:
  build:
    runs-on: ubuntu-18.04
    name: Lint
    steps:
      - uses: actions/checkout@v1
      - name: Setup node
        uses: actions/setup-node@v1
        with:
          node-version: '12.x'
      - run: yarn
      - run: yarn lint
