name: Preview

on:
  pull_request:
    branches:
      - 'v[0-9]+'

jobs:
  publish-previews:
    name: Publish Preview Packages
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: Publish PR Preview
      uses: thefrontside/actions/publish-pr-preview@v1.4
      with:
        before_all: yarn prepack:all
        npm_publish: yarn publish
        ignore: website
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        NPM_TOKEN: ${{ secrets.FRONTSIDEJACK_NPM_TOKEN }}
