name: Release

on:
  push:
    branches:
      - 'v[0-9]+'

jobs:
  publish-releases:
    name: Publish Releases
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: Publish Releases
      uses: thefrontside/actions/synchronize-with-npm@mk/fix-dockerfiles
      with:
        before_all: yarn prepack
        npm_publish: yarn publish
        ignore: website
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        NPM_TOKEN: ${{ secrets.FRONTSIDEJACK_NPM_TOKEN }}
