name: Release

on:
  push:
    branches:
      - mk/tags-test

jobs:
  publish-releases:
    name: Publish Releases
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: Publish Releases
      # uses: thefrontside/actions/synchronize-with-npm@v1.4
      uses: thefrontside/actions/synchronize-with-npm@mk/tags
      with:
        before_all: yarn prepack
        npm_publish: yarn publish
        ignore: packages/website packages/convergence packages/interactor packages/cli
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        NPM_TOKEN: ${{ secrets.FRONTSIDEJACK_NPM_TOKEN }}
